
        
        <a href="home">
            <img class="cabecalho_logo" src="/image/log.png" title="ir para a pagina inicial" alt="logo">
        </a>

    
        <nav>
            <ul class="cabecalho_menu">
            <li class= "cabecalho_item-menu"><a href="/home">Home</a></li>
            <li class= "cabecalho_item-menu"><a href="/sobre">Sobre</a></li>
             <li class= "cabecalho_item-menu"><a href="login">Login</a></li>
             <li class= "cabecalho_item-menu cabecalho_item-menu--matricular"><a href="registro">Cadastra-se </a></li>
         
            </ul>
        </nav>


    