footer
{

    border-right: 5px;
    padding: -0.5px 5%;
    padding-bottom:0em ;
    text-align: center;
    

}
img
{
    width: 4%;
}
img:hover
{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);


}