<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cabecalhoindex.css">
    <link rel="stylesheet" href="css/container.css">
    <link rel="stylesheet" href="css/rodapeindex.css">
    <link rel="stylesheet" href="css/indexbody.css">
    <title>Associação filhos do mundo </title>
</head>

<body>
    <header class="cabecalho container">
        
        <a href="home">
            <img class="cabecalho_logo" src="image/logo.PNG" title="ir para a pagina inicial" alt="logo">
        </a>

    
        <nav>
            <ul class="cabecalho_menu">
            <li class= "cabecalho_item-menu"><a href="home">Home</a></li>
            <li class= "cabecalho_item-menu"><a href="sobre">Sobre</a></li>
            <li class= "cabecalho_item-menu cabecalho_item-menu--matricular"><a href="matricula">Cadastra-se </a></li>
            </ul>
        </nav>


    </header>


    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    
<main>

   <div id="fraseforte"> Uma Associaçao que aos poucos vai mudar o mundo!</div>

<!--<div id="imagemGaleria">]

   <img src="../assets/image/imagemslide01.jpeg">
   <img src="../assets/image/imagemslide02.jpeg">
   <img src="../assets/image/imagemslide03.jpeg">
   <img src="../assets/image/imagemslide04.jpeg">
   <img src="../assets/image/imagemslide05.jpeg">
   <img src="../assets/image/imagemslide06.jpeg">
</div>
-->







<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



</main>

<footer>
<div class="container">
    <a href="https://www.facebook.com/filhosdomundoassociacao"> 
        <img src="image/faceincone.png" alt="@filhosdomundo">
    </a> 
      <a href="https://wa.me/5511947383543">
        <img src="image/InconeWhats.png" alt="WhatsApp">
    </a>
    
    <a href="https://www.google.com/maps/place/R.+Jos%C3%A9+Francisco+Brand%C3%A3o+-+Cidade+Tiradentes,+S%C3%A3o+Paulo+-+SP,+08470-790/data=!4m2!3m1!1s0x94ce6f9ba07dfa89:0x5aba1ad64ba30484?sa=X&ved=2ahUKEwjmururqJbzAhWVD7kGHS0HA6oQ8gF6BAgIEAE">
    
        <img src="image/googlemaps_incone_com_fundo-removebg-preview.png">
    </a>
</div>
</footer>
</body>
</html>