<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sobre.css">
    <link rel="stylesheet" href="css/container.css">
    <link rel="stylesheet" href="css/sobrecabecalho.css">
    <link rel="stylesheet" href="css/rodape.css">
    <title> AFD | Sobre </title>
    <link href="logo.ico" rel="icon">
</head>
<body>
    <header class="cabecalho container">
        <a href="home">
            <img class="cabecalho_logo" src="image/nometracosazuis-removebg-preview.png" title="ir para a pagina inicial do Musicdto" alt="logo">
        </a>

        <nav>
            <ul class="cabecalho_menu">
            <li class= "cabecalho_item-menu"><a href="home">Home</a></li>
            <li class= "cabecalho_item-menu"><a href="sobre">Sobre</a></li>
            <li class= "cabecalho_item-menu cabecalho_item-menu--matricular"><a href="cadastro">Cadastra-se </a></li>
            </ul>
        </nav>

    </header>


<main>
    <br/>
            <br/>
            <br/>
            <br/>
            <br/>
           

        <figure class="configuracao_imagem">

        <figcaption>
         <img src="image/Capturar.PNG" alt="presidente da associação"><br/>
        Fundadora 
        </figcaption>

    </figure>         
         <h1 > Sobre a empresa </h1>
         <div id="borda">

         <p>A‌ ‌Associação‌ ‌Filhos‌ ‌do‌ ‌Mundo‌ ‌é‌ ‌uma‌ ‌instituição‌ ‌não‌ ‌governamental,‌ ‌sem‌ ‌fins‌ ‌‌lucrativos‌‌ ‌,‌ ‌
            criada‌ ‌em‌ ‌2016‌ ‌com‌ ‌a‌ ‌missão‌ ‌de‌ ‌promover‌ ‌ações‌ ‌para‌ ‌o‌ ‌desenvolvimento‌ ‌social.‌ ‌‌Oferecendo‌ ‌
            assistência‌ ‌e‌ ‌apoio‌ ‌à‌ ‌programas,‌ ‌e‌ ‌ou‌ ‌projetos‌ ‌de‌ ‌caráter‌ ‌social,‌ ‌ambiental,‌ ‌cultural,‌ ‌educativo‌ ‌
            e‌ ‌esportivo,‌ ‌‌com‌ ‌a‌  ‌finalidade‌  ‌de‌ ‌minimizar‌ ‌os‌ ‌impactos‌ ‌da‌  ‌vulnerabilidade‌ ‌social‌ ‌das‌ ‌
            comunidades‌ ‌locais.‌‌ ‌‌Sempre‌ ‌orientadas‌  ‌ao‌ ‌respeito‌ ‌aos‌ ‌princípios‌ ‌éticos‌ ‌e‌ ‌da‌ ‌impessoalidade‌ ‌
            dos‌ ‌indivíduos,‌  ‌para‌ ‌o‌ ‌bem‌ ‌estar‌ ‌comum‌ ‌geral.‌</p>
     
         <p> Cooperando com o  fortalecimento dos mecanismos institucionais de proteção e conservação do patrimônio da união, criar,
              produzir e disseminar conhecimentos especializados, são as atividades constantes da entidade.</p>
     
         <p> Em permanente  parcerias com outros movimentos sociais e canais de diálogo com governos, lutamos  por uma sociedade  ambientalmente justa,
              com igualdade de direitos e livres de todas e qualquer  formas de discriminação.
              Entendemos que, na formulação e no monitoramento das políticas públicas, a participação de todos/as é fundamental.</p>

        </div>
    
</main>
<br/>
<br/>
<br/>
<br/>



<footer class="rodape">




<a href="https://www.facebook.com/filhosdomundoassociacao"> 
    
    <img src="image/faceincone.png" alt="@filhosdomundo">

</a> 


<a href="https://wa.me/5511947383543">
    
    <img src="image/InconeWhats.png" alt="WhatsApp">
</a>



<a href="https://www.google.com/maps/place/R.+Jos%C3%A9+Francisco+Brand%C3%A3o+-+Cidade+Tiradentes,+S%C3%A3o+Paulo+-+SP,+08470-790/data=!4m2!3m1!1s0x94ce6f9ba07dfa89:0x5aba1ad64ba30484?sa=X&ved=2ahUKEwjmururqJbzAhWVD7kGHS0HA6oQ8gF6BAgIEAE">

    <img src="image/googlemaps_incone_com_fundo-removebg-preview.png">
</a>

</footer>




    
    
</body>
</html>