body{
    margin: 0;
    padding: 0;
 }


body
{
    background-image: url(../image/fundo_floor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: fixed;
    
    
    
}

#fraseforte
{
    font-size: 60px;
    color: white;
    text-align: center;
   /* padding-right: 0%;*/
    
    
}
main
{
    
    width: 80%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #000000e8;
    border-radius: 10px 20px 30px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    
}
#imagemGaleria
{
    width: 100;
}